page-additive-detail {
  .colorHeader {
    padding: 24px 16px;
    h1 {
      color:#fff;
      font-size: 3.3rem;
      text-align: center;
    }
  }
  #result {
    padding:8px 0px 0px;
    h2 {
      padding:12px 0px;
    }
  }
}
