page-liste {
  .list-md {
    margin: 0px;
    background: #e0e0e0;
  }
  .item-md {
    padding-left:0px;
  }
  .item-md p {
    color: $_secondary;
  }
  .item-md [item-left]{
    padding: 28px 16px;
    color: #fff;
    margin: 0px;
    text-align: center;
    min-width: 82px;
  }
  .item-inner {
      padding-left: 9px;
      color:$_primary;
  }
  .more {
    padding:13px;
  }
}
